nav{
    display: flex;
    padding: 1.5% 8%;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
.logo{
    display: flex;
    flex-direction: row;
}
#logo_name{
    margin-top: 30px;
    font-size: 25px;
    color: #028f60;
}
nav img{
    width: 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #004e34;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 40%;
    height: 3px;
    opacity: 0;
    background: #03a16c;
    display: block;
    margin:0 auto;
    margin-top: 5px;
    transition:all 0.2s ease-in-out;
}
.nav-links ul li:hover::after{
    width: 30%;
    opacity: 1;
}
.nav_button{
    background-color: #03a16c;
    padding: 1%;
    /* border-radius: 10px; */
    color: white;
    cursor: pointer;
    border: none;

}
